body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 40px;
  background: #f0f2f5;
  /* background: "rgba(255, 255, 255, 1e-05)"; */
}

/* Conditional / sider-background */

.sider-background {
  background: #ffffff;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 80px 0px;
}

.tableHead {
  border-top: 2px solid #11bf1f;
  border-bottom: 2px solid #11bf1f;
  background: #f0f2f5;
}

.table-cell-classes-border {
  border: 1px solid #fafafa;
}
